header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(197, 197, 197);
}

header ul {
    overflow: hidden;
    list-style: none;
    display: flex;
    gap: 20px;
  
}

section {
    margin: 10px 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgb(224, 224, 224);

}

section h1 {
    font-size: 3rem;
}

#img-txt-subtxt {
    align-content: center;
}

.img {
    width: 256px;
    height: 256px;
    background-color: rgb(90, 90, 90);
}

#img-txt-subtxt h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#img-txt-subtxt h2 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

footer {
    height: 17vh;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgb(197, 197, 197);
}