:root {
    --accent: #2f9e41;
    --main: #141d15;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.wrapper {
    all: inherit;
    max-width: 1000px;
    margin: auto;
    flex-grow: 1;
}

header {
    height: 70px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    background-color: var(--main);

    ul {
        display: flex;
        list-style-type: none;
        height: 100%;
    }

    li {
        box-sizing: border-box;
        height: 100%;
        align-content: center;
        border-top: solid 4px transparent;
        border-bottom: solid 4px transparent;
    }

    li:hover, .active {
        border-bottom-color: var(--accent);
        background-color: rgba(255, 255, 255, 0.24);
    }
    

    a {
        color: white;
        text-decoration: none;
        padding: 100% 10px;
    }
}

#logo {
    display: flex;
    gap: 10px;
}

footer {
    height: 120px;
    background-color: var(--main);
}

.main {
    display: flex;
    min-height: calc(100vh - 210px);   
}

aside {
    text-align: center;
    min-width: 120px;

    background-color: rgb(218, 218, 218);

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        align-content: center;
        padding: 2px 0;
        border-left: solid 4px transparent;
        border-right: solid 4px transparent;
    }

    li:hover, .active {
        border-left-color: var(--accent);
        background-color: rgba(0, 0, 0, 0.040);

    }

    a {
        color: #141d15;
        text-decoration: none;
    }
}

main {
     margin: 0 20px;
}

#cardcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;

    
}

#ghostcard {
    aspect-ratio: 3 / 2;
    min-width: 410px;

}

.card {
    border-radius: 10px;
    aspect-ratio: 3 / 2;
    min-width: 410px;
    background-color: rgb(72, 65, 133);
}

@media screen and (max-width: 600px) {
    .card {
        min-width: 330px;
    }

    #ghostcard {
        display: none;
    }
}