body {
    min-height: 100vh;
}

header {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

#headerbg {
    background-color: rgb(197, 197, 197);
}

#footerbg {
    background-color: rgb(197, 197, 197);
}


header ul {
    overflow: hidden;
    list-style: none;
    display: flex;
    gap: 20px;
  
}

#width-wrapper {
    margin: auto;
    max-width: 900px;
}

main {
    margin: 10px 0px;
    padding: 20px;
    justify-content: center;

    text-align: justify;
    flex-shrink: 1;
    flex-grow: 1;

    h1 {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

}

aside {
    max-width: 150px;
    min-width: 100px;
    padding: 20px;
    background-color: rgb(224, 224, 224);
    text-align: center;

    ul {
        list-style: none;
        padding: 0;
    }
}

#wrapper {
    display: flex;
    margin: 10px 0px;
}

footer {
    max-width: 900px;
    margin: auto;
    min-height: 17vh;
    padding: 20px;
    text-align: center;
}
