html {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    align-items: center;
    padding: 0px 20px;;
    background-color: rgba(214, 214, 214, 0.712);
}

#headalign {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    width: 100%;
}

#headnav a {
    text-decoration: none;
    color: rgb(134, 9, 107);
}

#headnav a:hover {
    color: rgb(255, 6, 184);
}


#headnav ul {
    display: inline-flex;
    
}

#headnav ul li {
    list-style-type: none;
    padding-left: 20px;
}

#box {
    margin: auto;
    align-items: center;
    width: 70%;
    margin-bottom: 0px;
}

#box h1 {
    padding: 0px;
    margin-bottom: 0px;
}


#box1 {
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;;
}

#container {
    display: flex;
}

#sidebar {
    padding: 10px;
    background-color: #f0f0f0;
}

#sidebar a {
    text-decoration: none;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#content {
    padding: 0px 20px;
    flex-grow: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    min-height: 7vh;
    align-content: center;
}
